<div ng-app="app">
  <div ng-controller="exampleCtrl">
    <h1>hello</h1>
    <li ng-repeat="message in messages" ng-click="alertMe(message)">{{ message }}



    </li>

      <input ng-model="newMessage">
      <button ng-click="addMessage(newMessage)">Add Message</button>
  </div>
</div>
