<div ng-app="app">
  <div ng-controller="exampleCtrl">
    <h1>Angular Reviews</h1>
    <li ng-repeat="review in reviews" ng-click="alertMe(review)">{{ review.text }} {{ review.rating}}</li>

      <input ng-model="newReview">
      <input ng-model="newRating">
      <button ng-click="addReview(newReview, newRating)">Add Review</button>
  </div>
</div>
